body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #ecf0f1;
}

.container form {
    margin: auto;
    padding-top: 20vh;
    width: max-content;
}

.homecontainer {
    width: 70vw;
    height: 70vh;
    padding: 0;
    margin: auto;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0px 0px 20px -10px #7f8c8d;
}

.topbar {
    width: calc(100vw - 40px);
    padding: 20px;
}

.search {
    width: 30vw;
    margin: auto;
    display: block;
}

.searchInput {
    width: 75%;
    display: inline-block;
}

.searchButton {
    width: 20%;
    margin-left: 5%;
    display: inline-block;
}

.privateDirectory {
    display: inline-block;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('assets/folder.png');
    color: white;
    font-size: 25px;
}

.widget {
    width: 30vw;
    box-shadow: 0px 0px 20px -10px #7f8c8d;   
}